<nav class="nav">
    <NavLink class="nav-link" href="menueditor/menus" ActiveClass="active underline">Menus</NavLink>
    <NavLink class="nav-link" href="menueditor/categories" ActiveClass="active underline">Categories</NavLink>
    <NavLink class="nav-link" href="menueditor/items" ActiveClass="active underline">Items</NavLink>
</nav>

