@page "/menueditor"

<div class="navbar navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <NavLink class="nav-link" href="menueditor/menus">Menus</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="menueditor/categories">Categories</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="menueditor/items">Items</NavLink>
        </li>
    </ul>
</div>

<div class="content px-4">
    <h3>Menu Editor</h3>
</div>

@code {
}
