
@using Confluent.Kafka
@using Gamer.Menu.Application.Commands
@using Gamer.Menu.Website.Models
@using MediatR

<h3>Menus</h3>

<EditForm Model="Model" OnValidSubmit="CreateMenu">
    <!-- Name -->
    <InputText @bind-Value="Model.Name" placeholder="Menu Name" />
    <!-- Add Categories -->
    <button class="btn btn-primary">Save</button>
</EditForm>

<!-- Add Items -->

@code {

    [Inject]
    public IMediator Mediator { get; set; }

    public Menu Model { get; set; } = new Menu();

    public async Task CreateMenu()
    {
        await Mediator.Send(new CreateMenu() { Name = Model.Name });
    }
}