@page "/menueditor/menus"
@using Confluent.Kafka
@using Gamer.Menu.Application.Commands
@using Gamer.Menu.Application.Queries
@using Gamer.Menu.Core
@using Gamer.Menu.Website.Models
@using Gamer.Menu.Website.Pages.MenuEditor
@using Gamer.Menu.Website.Pages.MenuEditor.Menus
@using MediatR
@inject NavigationManager UriHelper

<MenuEditorNavigation />

<div>
    <h3>Menus</h3>
    <button @onclick="@AddClicked">Add</button>
</div>

<MenuList Menus="@MenuList" />

@code {
    [Inject]
    public IMediator Mediator { get; set; }

    public IEnumerable<MenuViewModel> MenuList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MenuList = await Mediator.Send(new GetMenus());
    }

    public void AddClicked()
    {
        UriHelper.NavigateTo("/menueditor/menus/create");
    }
}