@page "/menueditor/menus"
@using Confluent.Kafka
@using Gamer.Menu.Application.Commands
@using Gamer.Menu.Core
@using Gamer.Menu.Website.Models
@using Gamer.Menu.Website.Pages.MenuEditor
@using Gamer.Menu.Website.Pages.MenuEditor.Menus
@using MediatR
@using AutoMapper
@inject NavigationManager UriHelper

<MenuEditorNavigation />

<div>
    <h3>Menus</h3>
    <button @onclick="@AddClicked">Add</button>
</div>

<MenuList Menus="@MenuList" />

@code {
    [Inject]
    public IApplicationContext Context { get; set; }
    [Inject]
    public IMapper Mapper { get; set; }

    public List<Menu> MenuList { get; set; }

    protected override void OnInitialized()
    {
        MenuList = Context.Menus.Select(m => Mapper.Map<Menu>(m)).ToList();
    }

    public void AddClicked()
    {
        UriHelper.NavigateTo("/menueditor/menus/create");
    }
}