@page "/menus"

@using mongo.repository
@using interactions.models

<h3>Menu</h3>

@foreach (var menu in Current)
{
    <MenuDisplay Menu="@menu" />
}

@code {
    [Inject]
    public IRepository Repository { get; set; }

    public IEnumerable<Menu> Current { get; set; } = new List<Menu>();

    protected override async Task OnInitializedAsync()
    {
        Current = await Repository.Query<Menu>("menus", q => !string.IsNullOrEmpty(q.Name));
    }
}
